            /* google_font_link */
body{ font-family: 'Open Sans', sans-serif;}

*{
    padding: 0;
    margin: 0;
}
            /* header_start */
main{
    max-width: 1140px;
    margin: auto;
}
img{
    height: 100%;
    width: 100%;
}
.header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background-color: #fff;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    width: 61px;
    height: 32px;
    padding-right: 14px;

}
.logo h4 {
    font-size: 34px;
}
.logo span {
    color: #ff42a5;
    text-transform: uppercase;
}
.menu ul{
    display: flex;
    list-style: none;

}
.menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    margin-left: 20px;
    color: #3C354F;
    display: inline-block;
}
.menu .fa-brands{
    color: red;
}
.menu .fa-tiktok{
    color: black;
}
.button{
    background-color: rgba(11, 2, 35, 0.10);
    padding: 12px;
    border-radius: 5px;
}

/* Banner_Section_Start */
.Banner{
    background-image: url(img/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.Banner_Content h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 77px;
}
.Banner_Content h4 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 13px;
}
.Banner_Content p{
    margin-bottom: 15px;
}
button.singup {
    border: none;
    color: white;
    text-transform: capitalize;
    background: #FF42A5;
    padding: 13px 22px;
    font-size: 15px;
    border-radius: 31px;
}
.rogue {
    border: none;
    color: white;
    margin-left: 11px;
    background: #4EC5F7;
    padding: 13px 24px;
    border-radius: 28px;
    font-size: 15px;
}
/* Banner_Section_End */

/* Gamer_Section_Start */
.Gamer_Button{
    border: none;
    color: white;
    text-transform: capitalize;
    background: #FF42A5;
    padding: 13px 22px;
    font-size: 15px;
    border-radius: 31px;
    margin-bottom: 13px;
}
.Gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.Gamer_Main{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.Gamer_Picture{
    width: 50%;
}
.Gamer_Content{
    text-align: right;
    width: 40%;
}
.Gamer_Content h3 {
    font-size: 26px;
    margin-bottom: 13px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Gamer_Content p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 13px;
}
/* Gamer_Section_End */

/* Online_Section_Start */
.online_game {
    display: flex;
    justify-content: space-around;
    gap: 33px;
    padding: 40px 0px;
}
.online_content{
    text-align: center;
}
.online_content h3 {
    font-size: 40px;
    margin-bottom: 10px;
}
.online_content h4 {
    font-size: 11px;
}
.main_online{
    padding: 50px 0px ;
}
.online_content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hover_effect h3{
    color: #F948B2;
}
.hover_effect .fa-solid {
    color: white;
    font-size: 40px;
}



.online_img h4 {
    font-size: 13px;
    line-height: 17px;
}

.hover_effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000093;
    border-radius: 15px;
    display: none;
   
 
}
.img_card:hover .hover_effect{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.5px solid #FF42A5;
    flex-direction: column;
}



.img_card {
    position: relative;
    height: 100%;
}
/* Online_Section_End */

/* Installs_Section_Start  */
.Installs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 145px;
}
.Install_Pictures{
    height: 400px;
}
.Position{
    width: 200px;
    height: 230px;
    position: relative;
    top: -173px;
    right: 100px;
}
.Install_Content h4 {
    font-size: 29px;
    text-align: right;
}
.Install_Content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Install_Content p {
    text-align: right;
    font-size: 16px;
    line-height: 22px;
}
/* Installs_Section_End */

/* Action_Gamer-Section_Start */

.Action_Gamer{
    display: flex;
    /* grid-template-columns: repeat(5, 1fr); */
    align-items: center;
    flex-wrap: wrap;
   justify-content: center;

}
.Action_Box{
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 25px;
    padding: 14px 7px;
    margin-bottom: 25px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid white;
 
}
.Action_Box:hover{
    border: 1px solid #F948B2;
    border-radius: 50px;
    color: #F948B2;
}

.Action_Photo img{
    width: 50px;
    height: 55px;
}



/* Action_Gamer-Section_End */

/* footer section start */
.Footer-main{
    background-color: #0B0223;
    padding: 50px;
    color: white;

}

.Footer-picture{
    display: flex;
    justify-content: center;

}
.Footer-picture img {
    width: 56px;
    height: 28px;
    margin-right: 18px;
    margin-bottom: 25px;
}

.List-group{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icon{
    text-align: center;
}
.Footer-group{
    display: flex;
    justify-content: center;
}
.Footer-title{
    text-align: center;
}
.Footer-picture span{
    color: #F948B2;

}
.Footer-picture h4 {
    font-size: 30px;
}
.List-group h4 {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 18px;
}
.icon {
    padding: 10px;
}
.Footer-group{
    color:rgba(255, 255, 255, 0.60);
    font-size: 14px;
}
.Footer-group h4 {
    margin-bottom: 11px;
    margin-left: 18px;
    font-weight: 500;
}
.Footer_title{
    color:rgba(255, 255, 255, 0.60);
    font-size: 14px;
    margin-bottom: 11px;
    margin-left: 18px;
    font-weight: 500;

}



/* Footer_Section_End */

/* Start-responsive-for-L_mobile */

@media screen and (max-width:425px){
    .menu{
        flex-direction: column;

    }
    .menu ul{
        flex-direction: column;
        align-items: center;

    }
    .menu ul li a{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .Banner{
        flex-direction: column;
        align-items: center;
    }
    .Gamer_Main{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .Gamer_Picture{
        width: 100%;

    }
    .Gamer_Content{
        text-align: center;

    }
    .online_game{
        flex-direction: column;
        align-items: center;
    }
    .online_content h3{
        font-size: 25px;
    }
    .Installs{
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;

    }
    .Install_Content h4{
        text-align: center;

    }
    .Install_Content p{
        text-align: center;
        margin-bottom: 15px;
    }
    .Install_Pictures{
        height: auto;
        width: 40%;
    }
    .Action_Gamer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .action-content h4{
        font-size: 10px;
    }
    .Action_Photo img{
    width: 25px;
    height: 27px;
}
.Action_Box{
    margin-bottom: 15px;
    padding: 0;
}
    .List-group{

        display: grid;
        grid-template-columns: repeat(3, 1fr);

}
.List-group h4 {
    font-size: 17px;

}
.icon{

    display: grid;
        grid-template-columns: repeat(3, 1fr);

}
.Footer-group{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px 0;
}
.Footer-group{
    font-size: 50px;
}

}
/* End-responsive-for-L_mobile */

/* Start-responsive-for-Tablet */
@media screen and (min-width: 425px) and (max-width: 768px) {
    .Online_Main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

}

/* End-responsive-for-Tablet */
